<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <%= link_to "", root_path, class: "navbar__brand navbar__mainLogo" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-md-auto align-items-center">
        <li><%= link_to "ABOUT", about_path, class: "btn btn-info" %></li>
        <li><%= link_to "質問する", new_question_path, class: "btn btn-success" %></li>
        <li><%= link_to "質問一覧", questions_path, class: "btn btn-secondary" %></li>
        <li><%= link_to "投稿する", new_post_path, class: "btn btn-primary" %></li>
        <li>
          <%= link_to "マイページ", user_path(current_user), class: "btn btn-light" %></li>
      </ul>
    </div>
  </div>
</nav>